.footer-body {
    line-height: 28px;
    background-color: #252525;
}

/* Container 1 */

.footer-1 {
    display: flex;
    padding: 30px 5%;
}

.footer-1-1,
.footer-1-2 {
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.footer-1-1-1,
.footer-1-1-2,
.footer-1-2-1,
.footer-1-2-2 {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.footer-heading-2 {
    margin: 5px 0px;
    font-size: 16px;
    color: #8C8C8C;
    font-weight: 600;
    font-family: 'Raleway';
}

.footer-links {
    margin: 5px 0px;
    font-size: 16px;
    font-weight: 550;
    color: #8C8C8C;
    text-decoration: none;
    font-family: 'Raleway';
}

#footer-btn-icon-1,
#footer-btn-icon-2,
#footer-btn-icon-3 {
    padding: 3px;
}

#footer-facebook-icon,
#footer-twitter-icon,
#footer-linkedin-icon {
    font-size: 35px;
}

#footer-mail-icon-btn {
    padding: 2px;
}

#footer-MailIcon {
    font-size: 30px;
}

.footer-links:hover {
    color: white;
}

#footer-contact-img {
    height: 30px;
    margin: 5px 4px;
    border-radius: 5px;
    background-color: #575757;
}

.footer-heading-2-1 {
    display: flex;
}

@media (max-width: 1000px) {
    .footer-1 {
        padding: 30px 10%;
        flex-direction: column;
    }

    .footer-1-2 {
        margin-top: 30px;
    }

    .footer-1-1,
    .footer-1-2 {
        width: 100%;
    }
}

@media (max-width: 550px) {

    .footer-1 {
        padding: 30px 15%;
    }

    .footer-1-1,
    .footer-1-2 {
        flex-direction: column;
    }

    .footer-1-1-2,
    .footer-1-2-2 {
        margin-top: 30px;
    }
}

/* Container 2 */

.footer-2 {
    padding: 5px;
    display: flex;
    color: #999999;
    font-size: 13.6px;
    align-items: center;
    font-family: 'Raleway';
    justify-content: center;
    border-top: solid black 1px;
}

@media (max-width: 400px) {
    .footer-2 {
        flex-direction: column;
    }
}