.header-body {
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.header-1 {
    height: 100%;
    display: flex;
}

#header-1-1 {
    height: 100%;
}

#header-1-2 {
    height: 100%;
    display: none;
}

.header-2 {
    display: flex;
}

#header-2-btn-1,
#header-2-btn-2,
#header-2-btn-3,
#header-2-btn-4,
#header-2-btn-5,
#header-2-btn-6 {
    margin: 0px 5px;
    font-size: 16px;
    color: #484848;
    border-radius: 8px;
    font-family: 'Raleway';
    text-transform: capitalize;
}

#header-2-btn-7 {
    margin: 0px 5px;
    font-size: 16px;
    border-radius: 8px;
    text-transform: capitalize;
    background-color: #0F893D;
}

#header-2-btn-1:hover,
#header-2-btn-2:hover,
#header-2-btn-3:hover,
#header-2-btn-4:hover,
#header-2-btn-5:hover,
#header-2-btn-6:hover {
    color: #ffffff;
    background-color: #92298E;
}

.header-3 {
    display: none;
}

.header-3-1 {
    margin: 0px 5px;
    border-radius: 5px;
    border: solid black 2px;
}

#header-3-login-btn,
#header-3-menu-btn {
    height: 100%;
    color: #484848;
    font-size: 0.9rem;
    font-family: 'Raleway';
    text-transform: capitalize;
}

.header-3-1:hover {
    background-color: #92298E;
}

#header-3-login-btn:hover,
#header-3-menu-btn:hover {
    color: white;
}

#header-box-body {
    height: 100vh;
    padding-top: 15px;
    background-color: rgb(230, 230, 230);
}

.header-box-section {
    display: flex;
    padding: 0px 10px;
    flex-direction: column;
}

#header-box-btn-1,
#header-box-btn-2,
#header-box-btn-3,
#header-box-btn-4,
#header-box-btn-5,
#header-box-btn-6 {
    width: 100%;
    font-size: 1rem;
    font-family: 'Raleway';
    text-transform: capitalize;
}

#header-box-btn-1:hover,
#header-box-btn-2:hover,
#header-box-btn-3:hover,
#header-box-btn-4:hover,
#header-box-btn-5:hover {
    color: white;
    background-color: #92298E;
}

.header-box-btn-div {
    margin: 5px 0px;
    text-align: center;
}

@media (max-width: 1100px) {
    #header-1-1 {
        display: none;
    }

    #header-1-2 {
        display: block;
    }
}

@media (max-width: 750px) {
    .header-body {
        height: 60px;
        padding-left: 5%;
        padding-right: 3%;
        justify-content: space-between;
    }

    .header-2 {
        display: none;
    }

    .header-3 {
        display: flex;
    }
}